<!DOCTYPE html>
<html>
<head>
    <title>Image Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<div class="container">
    <div class="search-container">
        <div class="search">
            <h2>Query search</h2>
            <button id="reset">reset</button>
            <form style="display: flex;">
                <input type="radio" id="vi" name="Languages" value="vi">
                <label for="vi"> Vietnamese</label><br> 
                
                <input type="radio" id="en" name="Languages" value="en" checked>
                <label for="en"> English </label><br>
            </form>
            <textarea id="search-box" placeholder="Enter your search..." rows="13"></textarea>
            <div class="search-buttons">
                <button id="search-button">Search</button>
                <button id="clearButton">Clear</button>
            </div>
            <div class="pages-button">
                <button id="nextPageButton">Next Page</button>
                <button id="prevPageButton">Previous Page</button>
            </div>
            <div class="show-images"> 
                <button id="show_images">Show Image</button>
            </div>
        </div>
        <div class="image-info"> 
            <h2>Image Path static/Data/</h2>
            <p id="info-text">Click on an image to see its path.</p>
            <button id="images_search_button">Show options</button>
        </div>
    </div>
    <div class="image-container" id="image-container">
        
    </div>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}">
</script>

</body>
</html>
